* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Press Start 2P', cursive;
    color: white;
    background: black;
    max-height: 100vh;
}

h1 {
    color: yellowgreen;
}

.grid {
    display: grid;
    grid-template-columns: 255px 1fr 1fr;
    border: 2px solid white;
    background-color: black;
}

.play-stats {
border-left: 2px solid white;
border-right: 2px solid white;
}

.play-stats,
.game-stats,
#best-players {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-beetween;
line-height: 1.5;
}

.play,
#user-name {
    font-family:'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 24px;
    border: 2px solid white;
    cursor: pointer;
}
.play {
    background: greenyellow;
    padding: 1em 3em;
}

#user-name {
    background: black;
    color: white;
    width: 90%;
    margin-bottom: 1em;
    padding: .5em 3em;
    }

#pause,
#game-over {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 36px;
    background: black;
    opacity: .85;
    transform: translateX(-1600px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#pause {
    color:  greenyellow;
}

#game-over {
    color: red;
    justify-content: center;
}

#pause.active,
#game-over.active {
    transform: translateX(0px);
    transition: transform .3s ease-in-out;
}

#final-score {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    color: white;
    font-size: 32px;
    line-height: 2;
}




